*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: sans-serif;
}
body{
    color: #fff;
    background-color: #000201;
}
.header {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    padding: 20px 10%;
    display: flex;
    background: #000201;
    justify-content: space-between;
    align-items: center;
    z-index: 100;
}
.logo {
    position: relative;
    font-size: 19px;
    color: #fff;
    text-decoration: none;
    font-weight: 600;
    cursor: default;
    animation: slideRight 1s ease forwards;
}
.logo span{
    color: #653174;
}
.navbar a{
    display: inline-block;
    font-size: 18px;
    color: #fff;
    text-decoration: none;
    font-weight: 500;
    margin-left: 35px;
    transition: 0.5s;
    animation: slideRight 1s ease forwards;
}
.navbar a:hover{
    color: #64569a;
}
.home {
    position: relative;
    width: 100%;
    justify-content: space-between;
    height: 100vh;
    background-color: #000201;
    background-size: cover;
    display: flex;
    background-repeat: center;
    align-items: center;
    padding: 70px 10% 0;
    height: 100vh;
}
.home-box img{
    border-radius: 50%;
    cursor: pointer;
    transition: 0.5s;
}
.home-box img:hover{
    transform: scale(0.9);
}
.home-content{
    max-width: 600px;
}
.home-content h3{
    font-size: 30px;
    font-weight: 700;
    animation: slideBottom 1s ease forwards;
    animation-delay: 0.7s;
}
.home-content h3:nth-of-type(2){
    margin-bottom: 30px;
    animation: slideTop 1s ease forwards;
    animation-delay: 0.7s;
}
.home-content h3 span {
    color: #64569a;
}
.home-content h1 {
    font-size: 50px;
    font-weight: 700;
    margin: -3px 0;
    animation: slideRigt 1s ease forwards;
    animation-delay: 1s;
}
.home-content p {
    font-size: 20px;
    animation: slideLeft 1s ease forwards;
    animation-delay: 1s;
}
.home-sci a{
    display: inline-flex;
    justify-content: center;
    align-items: center;
    width: 40px;
    height: 40px;
    background: transparent;
    border: 2px solid #653174;
    border-radius: 50%;
    font-size: 20px;
    color: #64569a;
    text-decoration: none;
    transition: 0.5s;
    animation: slideLeft 1s ease forwards;
    animation-delay: calc(0.2s * var());
    margin: 30px 15px 30px 0;
}
.home-sci a:hover{
    background: #64569a;
    color: #000201;
    box-shadow: 0 0 20px #64569a;
}
.btn-box{
    display: inline-block;
    padding: 12px 28px;
    background: #64569a;
    border-radius: 40px;
    font-size: 16px;
    color: #000201;
    letter-spacing: 1px;
    font-weight: 600;
    animation: slideTop 1s ease forwards;
    box-shadow: 0 0 5px #64569a, 0 0 25px #64569a;
}
.btn-box:hover {
    box-shadow: 0 0 5px #473e66, 0 0 250px #473e66, 0 0 500px #473e66, 0 0 300px #473e66, 0 0 300px #473e66;
}
